<footer id="myfooter" class="footer, bg-warning" style="background-color: #f5f5f5;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-4 text-left">
        <a class="impressum" href="/impressum" title="Impressum" style="color: white;">Impressum</a>
      </div>
      <div class="col-8 text-right" style="font-size: 12px; margin-top: 4px; color: white;">
        © 2019 Lukas, Christin, Constantin, Max
        <a href="#top" title="nach oben"><img id="symbol" src="/images/slideup.svg" style="width: 15px; margin-left: 5px; padding-bottom: 5px;"></a>
      </div>
    </div>
  </div>
</footer>
