<footer class="footer bg-warning fixed-bottom">
  <div class="container-fluid">
    <div class="row">
      <div class="col-4 text-left">
        <a class="impressum" href="/impressum" title="Impressum" style="color: white;">Impressum</a>
      </div>
      <div class="col-8 text-right" style="font-size: 14px; color: white;">
        © 2019 Salus Solutions
      </div>
    </div>
  </div>
</footer>