<header>
  <div>
  <a href="/">
      <img id="logo" class="img-fluid" src="/images/salus_solutions_logo.png" alt="Salus Solution Logo" style="padding-left: 15px; margin-bottom: 1%; margin-top: 1%; width:180px; height:auto;">
    </a></br>
    <!-- navigation bar -->
    <nav class="navbar navbar-dark bg-warning navbar-expand-lg">

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  links
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/">link</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/">link</a>
                </div>
              </li>
            </ul>
          </div>
        </nav>
  </div>
</header>
