<header>
    <nav id="mainnav" class="navbar navbar-expand-lg navbar-light bg-white shadow-none fixed-top nav-pills">
        <a class="navbar-brand" id="logo-div" href="/?centerpoint=[51.26524, 9.72767]&zoomlevel=6">
            <img id="logo" class="img-fluid" src="/images/salus_solutions_logo.png" alt="Salus Solution Logo" >
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/doku">Documentation</a>
                </li>
            </ul>
        </div>
    </nav>
</header>