<!DOCTYPE html>
<html>
  <head>

    <title><%= title %></title>

    <meta name="author" content="Luc, Phil, Lukas"/>
    <meta charset="UTF-8">

    <% include partials/stylesheet.ejs %>

  </head>

  <body>

    <div class="wrapper">

      <% include partials/header.ejs %>

      <main role="main" class="container-fluid">
        <div class="row">
           <div class="col-12" style="margin-top: 20px; margin-bottom: 44.2px;"><!--20px(normal margin value) + 24.2px(height of the footer)-->
            <h3 style="font-family: arial;"><%= title %></h3>
            <p><b>Autoren</b>
            <br>Lukas
            <br>Christin
            <br>Constantin
            <br>Max</p>

            <p><b>Kurs:</b>
            <br>Geosoftware II
            <br>Dozent: Edzer Pebesma, Christian Knoth, Daniel Nüst
            <br>Wintersemester 2019/20</p>

            <p><b>Universität</b>
            <br>Westfälische Wilhelms-Universität Münster
            <br><img id="wwu_logo" class="img-fluid" src="/images/wwu.svg" alt="WWU Logo" style="margin-top: 5px;">
            </p>
          </div>
        </div>
      </main>
    </div>

      <% include partials/footer.ejs %>

  </body>
</html>

<script src="/jquery/jquery.min.js"></script>

<script src="/bootstrap/js/bootstrap.min.js"></script>
