<!DOCTYPE html>
<html>

<head>

  <title><%= title %></title>

  <meta name="author" content="Lukas, Christin, Constantin, Max" />
  <meta charset="UTF-8">

  <% include partials/stylesheet.ejs %>

  <link rel="stylesheet" href="leaflet/leaflet.css">
  <link rel="stylesheet" href="leaflet-control-geocoder/Control.Geocoder.css">
  <link rel="stylesheet" href="leaflet-draw/leaflet.draw.css">
  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="mdbootstrap/css/mdb.min.css">
  <link rel="stylesheet" href="fontawesome/css/all.min.css">

</head>

<body onload="map()">

  <% include partials/header.ejs %>

  <div class="container" style="height: 70%;">
    <div class="row" style="height: 100%;">
      <div id="mapdiv" class="col-8" style="height: 100%;"></div>
      <div class="col-4">
        <form class="form-inline" id="twitter_form">
          <div class="md-form my-3 ml-3">
            <input class="form-control" type="text" placeholder="Search" id="keyword_input">
          </div>
        </form>
        <div id="tweet_container">
        </div>
      </div>
    </div>
  </div>

  <% include partials/footer.ejs %>

  <script src="leaflet/leaflet.js"></script>
  <script src="turf/turf.min.js"></script>
  <script src="jquery/jquery.min.js"></script>
  <script src="popper/umd/popper.min.js"></script>
  <script src="bootstrap/js/bootstrap.min.js"></script>
  <script src="mdbootstrap/js/mdb.min.js"></script>
  <script src="jsnlog/jsnlog.min.js"></script>
  <script src="leaflet-control-geocoder/Control.Geocoder.min.js"></script>
  <script src="leaflet-draw/leaflet.draw.js"></script>
  <script src="fontawesome/js/all.min.js"></script>
  <script src="config/twitter-widgets-config.js"></script>
  <script src="javascripts/betterwms.js"></script>
  <script src="javascripts/map.js"></script>
  <script src="javascripts/twitter-widgets.js"></script>
  <script src="javascripts/index.js"></script>

</body>

</html>