<!DOCTYPE html>
<html>

<head>

  <title><%= title %></title>

  <meta name="author" content="Lukas, Christin, Constantin, Max" />
  <meta charset="UTF-8">

  <% include partials/stylesheet.ejs %>

  <link rel="stylesheet" href="leaflet/leaflet.css">
  <link rel="stylesheet" href="leaflet-control-geocoder/Control.Geocoder.css">
  <link rel="stylesheet" href="leaflet-draw/leaflet.draw.css">
  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="mdbootstrap/css/mdb.min.css">
  <link rel="stylesheet" href="fontawesome/css/all.min.css">
  <link rel="stylesheet" href="stylesheets/jquery-eu-cookie-law-popup.css">
  <link rel="stylesheet" href="flag-icon-css/css/flag-icon.min.css">
  <link rel="stylesheet" href="bootstrap-select/css/bootstrap-select.min.css">
  <link rel="stylesheet" href="leaflet.awesome-markers/leaflet.awesome-markers.css">

</head>

<body class="eupopup eupopup-bottomright" onload="map()">

  <% include partials/header.ejs %>
  <main role="main" class="container-fluid" id="main" style="height: 100%">
    <div id="message" class="row">
    </div>
    <div class="container" style="height: 70%;">
      <div class="row" style="height: 100%;">
        <div id="mapdiv" class="col-8" style="height: 100%;">
        </div>
        <div class="col-4">
          <form class="md-form form-inline" id="twitter_form">
            <div class="col-4">
              <input class="form-control" type="text" placeholder="keyword" id="keyword_input">
            </div>
            <div class="col-4">
              <select class="form-control" id="count_select" disabled>
                <option>100</option>
              </select>
            </div>
            <div class="col-4">
              <select class="form-control" data-width="fit" id="language_select" disabled>
                <option data-content="<span class='flag-icon flag-icon-gb'></span>" value="en"></option>
                <option data-content="<span class='flag-icon flag-icon-de'></span>" value="de"></option>
              </select>
            </div>
          </form>
          <div id="tweet_carousel" class="carousel slide" data-interval="false">
            <a class="carousel-control-prev" href="#tweet_carousel" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#tweet_carousel" role="button" data-slide="next">
              <span class="carousel-control-next-icon"></span>
            </a>
            <div class="carousel-inner" id="tweet_carousel_inner">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div id="button_div" class="col-4">
          <button type="button" class="btn btn-warning" onclick="saveCookie();"
            title="Set your current view as defaultview."><img id="save_icon" class="img-fluid"
              src="/images/save_icon.png" alt="Set your current view as Defaultview"
              style="width:20px; height:auto;"></button>
        </div>
      </div>
    </div>
  </main>
  <% include partials/footer.ejs %>

  <script src="leaflet/leaflet.js"></script>
  <script src="turf/turf.min.js"></script>
  <script src="jquery/jquery.min.js"></script>
  <script src="javascripts/jquery-eu-cookie-law-popup.js"></script>
  <script src="popper/umd/popper.min.js"></script>
  <script src="bootstrap/js/bootstrap.min.js"></script>
  <script src="mdbootstrap/js/mdb.min.js"></script>
  <script src="bootstrap-select/js/bootstrap-select.min.js"></script>
  <script src="jsnlog/jsnlog.min.js"></script>
  <script src="leaflet-control-geocoder/Control.Geocoder.min.js"></script>
  <script src="leaflet-draw/leaflet.draw.js"></script>
  <script src="fontawesome/js/all.min.js"></script>
  <script src="leaflet.awesome-markers/leaflet.awesome-markers.min.js"></script>
  <script src="config/twitter-widgets-config.js"></script>
  <script src="javascripts/betterwms.js"></script>
  <script src="javascripts/map.js"></script>
  <script src="javascripts/twitter-widgets.js"></script>
  <script src="javascripts/URLparameters.js"></script>
  <script src="javascripts/index.js"></script>
  <script src="javascripts/cookies.js"></script>


</body>

</html>