<!DOCTYPE html>
<html>
<head>

  <title><%= title %></title>

  <meta name="author" content="Lukas, Christin, Constantin, Max"/>
  <meta charset="UTF-8">

  <% include partials/stylesheet.ejs %>
  <link rel="stylesheet" href="/leaflet/leaflet.css"/>

</head>

<body onload="map()">


    <% include partials/header.ejs %>


   <div id="mapdiv" style="height: 70%;"></div>


  <% include partials/footer.ejs %>

      </body>
      </html>

      <script src="/leaflet/leaflet.js"></script>

       <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
           integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
           crossorigin=""></script>

      <script src="/turf/turf.min.js"></script>

      <script src="/jquery/jquery.min.js"></script>

      <script src="/bootstrap/js/bootstrap.min.js"></script>

      <script src="/token/token.js"></script>

      <script src="/javascripts/map.js"></script>

    <script src="/jsnlog/jsnlog.min.js"></script>

