<!DOCTYPE html>
<html>

<head>

  <title><%= title %></title>

  <meta name="author" content="Lukas, Christin, Constantin, Max" />
  <meta charset="UTF-8">

  <% include partials/stylesheet.ejs %>

  <link rel="stylesheet" href="leaflet/leaflet.css">
  <link rel="stylesheet" href="leaflet-control-geocoder/Control.Geocoder.css">
  <link rel="stylesheet" href="leaflet-draw/leaflet.draw.css">
  <link rel="stylesheet" href="fontawesome/css/all.min.css">
  <link rel="stylesheet" href="stylesheets/jquery-eu-cookie-law-popup.css">
  <link rel="stylesheet" href="bootstrap-select/css/bootstrap-select.min.css">
  <link rel="stylesheet" href="leaflet-extra-markers/css/leaflet.extra-markers.min.css">

</head>

<body class="eupopup eupopup-bottomright">

  <% include partials/header.ejs %>

  <main>
    <div class="container-fluid" id="app">
      <div id="message" class="row">
      </div>
      <div class="row">
        <div class="col-lg-9" id="mapdiv"></div>
        <div class="col-sm-3" id="interaction">
          <div class="col" id="col_socialmedia">
            <div class="col" id="twitter">
              <div class="row">
                <div class="col">
                  <div class="col text-center">
                    <span class="text-info"><i class="fab fa-twitter-square fa-3x"></i></span>
                  </div>
                </div>
                <div class="col" id="twitter_button">
                  <button class="btn-xs btn-outline-info" id="btn_tweetrequest">Get Tweets</button>
                </div>
                <div class="col">
                  <a data-toggle="collapse" href="#twitter_filter"><span class="text-info"><i
                        class="fas fa-sliders-h fa-2x"></i></span></a>
                </div>
              </div>

              <div class="row" id="twitter_collapse">
                <div class="col">
                  <div class="collapse" id="twitter_filter">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <label class="input-group-text" for="keyword_input"><i class="fas fa-search"></i></label>
                      </div>
                      <input class="form-control" id="keyword_input" placeholder="keywords">
                    </div>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <label class="input-group-text" for="language_select"><i class="fas fa-globe"></i></label>
                      </div>
                      <select class="browser-default custom-select" id="language_select">
                        <option selected>All</option>
                        <option value="en">English</option>
                        <option value="de">German</option>
                      </select>
                    </div>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <label class="input-group-text" for="type_select"><i class="fas fa-poll"></i></label>
                      </div>
                      <select class="browser-default custom-select" id="type_select">
                        <option value="recent" selected>recent</option>
                        <option value="popular">popular</option>
                        <option value="mixed">mixed</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div id="tweet_carousel" class="carousel slide" data-interval="false">
                    <a class="carousel-control-prev" href="#tweet_carousel" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#tweet_carousel" role="button" data-slide="next">
                      <span class="carousel-control-next-icon"></span>
                    </a>
                    <div class="carousel-inner" id="tweet_carousel_inner">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col" id="flickr">
              <div class="row">
                <div class="col">
                  <div class="col text-center">
                    <span class="text-danger"><i class="fab fa-flickr fa-3x"></i></span>
                  </div>
                </div>
                <div class="col">
                  <button class="btn-xs btn-outline-danger" id="flickrbutton" onclick="flickrGetPublic(true)">Get Posts</button>
                </div>
                <div class="col">
                  <a data-toggle="collapse" href="#flickr_filter"><span class="text-danger"><i
                        class="fas fa-sliders-h fa-2x"></i></span></a>
                </div>
              </div>

              <div class="row" id="flickr_collapse">
                <div class="col">
                  <div class="collapse" id="flickr_filter">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <label class="input-group-text" for="keyword_input"><i class="fas fa-search"></i></label>
                      </div>
                      <input class="form-control" id="keyword_input_flickr" placeholder="keywords">
                    </div>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <label class="input-group-text" for="language_select"><i class="fas fa-globe"></i></label>
                      </div>
                      <select class="browser-default custom-select" id="flickr_select">
                        <option selected>public</option>
                        <option>Salus Solutions group</option>
                      </select>
                    </div>
                    <div class="col">
                      <div id="flickrcarousel" class="carousel slide">
                        <a class="carousel-control-prev" href="#flickrcarousel" onclick="changeActive()" role="button"
                          data-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#flickrcarousel" onclick="changeActive()" role="button"
                          data-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="sr-only">Next</span>
                        </a>
                        <div id="flickr-carousel-inner" class="carousel-inner"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div class="col" id="dwd_change">
              <div class="row">
                <div class="col">
                  <div class="col text-center">
                    <span class="change-info"><i class="fas fa-cloud-sun-rain fa-2x"></i></span>
                  </div>
                </div>
                <div class="col">
                  <button class="btn-xs btn-outline-dark" onclick="show_wfs_changes()">Change Warnings</button>
                </div>
                <div class="col">
                  <a data-toggle="collapse" href="#severity_filter"><span class="change-info"><i
                        class="fas fa-sliders-h fa-2x" style="color:#000000;"></i></span></a>
                </div>
              </div>
              <div class="row" id="severity_collapse">
                <div class="col">
                  <div class="collapse" id="severity_filter">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <label class="input-group-text" for="dwd_select"><i class="fas fa-bolt"></i></label>
                      </div>
                      <select class="browser-default custom-select" id="wfs_selection_box">
                        <option selected>All</option>
                        <option>storm/wind</option>
                        <option>thunderstorm</option>
                        <option>fog</option>
                        <option>rain</option>
                        <option>snowfall</option>
                        <option>frost</option>
                        <option>glazed frost</option>
                      </select>
                    </div>
                    <div>SEVERITY</div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="Severity_Minor">
                      <label class="form-check-label" for="defaultCheck1">
                        Minor
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="Severity_Moderate">
                      <label class="form-check-label" for="defaultCheck2">
                        Moderate
                      </label>
                    </div>
                    <div class="form-check form-check-inline2">
                      <input class="form-check-input" type="checkbox" value="" id="Severity_Severe">
                      <label class="form-check-label" for="defaultCheck3">
                        Severe
                      </label>
                    </div>
                    <div class="form-check form-check-inline2">
                      <input class="form-check-input" type="checkbox" value="" id="Severity_Extreme" checked>
                      <label class="form-check-label" for="defaultCheck4">
                        Extreme
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <% include partials/footer.ejs %>

  <script src="/leaflet/leaflet.js"></script>
  <script src="/turf/turf.min.js"></script>
  <script src="/jquery/jquery.min.js"></script>
  <script src="/javascripts/jquery-eu-cookie-law-popup.js"></script>
  <script src="/axios/axios.min.js"></script>
  <script src="/popper/umd/popper.min.js"></script>
  <script src="/bootstrap/js/bootstrap.min.js"></script>
  <script src="/mdbootstrap/js/mdb.min.js"></script>
  <script src="/bootstrap-select/js/bootstrap-select.min.js"></script>
  <script src="/jsnlog/jsnlog.min.js"></script>
  <script src="/leaflet-control-geocoder/Control.Geocoder.min.js"></script>
  <script src="/leaflet-draw/leaflet.draw.js"></script>
  <script src="/fontawesome/js/all.min.js"></script>
  <script src="/leaflet-extra-markers/js/leaflet.extra-markers.min.js"></script>
  <script src="/config/client.js"></script>
  <script src="/javascripts/widgets-load.js"></script>
  <script src="/javascripts/betterwms.js"></script>
  <script src="/javascripts/URLparameters.js"></script>
  <script src="/javascripts/messages.js"></script>
  <script src="/javascripts/cookies.js"></script>
  <script src="/javascripts/dwd.js"></script>
  <script src="/javascripts/map.js"></script>
  <script src="/javascripts/index.js"></script>

</body>

</html>
