<!DOCTYPE html>
<html>

<head>

  <title><%= title %></title>

  <meta name="author" content="Lukas, Christin, Constantin, Max" />
  <meta charset="UTF-8">

  <% include partials/stylesheet.ejs %>

  <link rel="stylesheet" href="leaflet/leaflet.css">
  <link rel="stylesheet" href="leaflet-control-geocoder/Control.Geocoder.css">
  <link rel="stylesheet" href="leaflet-draw/leaflet.draw.css">
  <link rel="stylesheet" href="fontawesome/css/all.min.css">
  <link rel="stylesheet" href="stylesheets/jquery-eu-cookie-law-popup.css">
  <link rel="stylesheet" href="flag-icon-css/css/flag-icon.min.css">
  <link rel="stylesheet" href="bootstrap-select/css/bootstrap-select.min.css">
  <link rel="stylesheet" href="leaflet.awesome-markers/leaflet.awesome-markers.css">

</head>

<body class="eupopup eupopup-bottomright">

  <% include partials/header.ejs %>

  <main>
    <div class="container-fluid">
      <div class="row">
        <div class="col-6" id="mapdiv"></div>
        <div class="col-3">
          <div class="row">
            <div class="col text-center">
              <span class="text-info"><i class="fab fa-twitter-square fa-4x"></i></span>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <button class="btn btn-outline-info" id="btn_tweetrequest">Get Tweets</button>
            </div>
            <div class="col">
              <a data-toggle="collapse" href="#twitter_filter"><span class="text-info"><i
                    class="fas fa-sliders-h fa-2x"></i></span></a>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="collapse" id="twitter_filter">
                <div>
                  <input class="form-control" type="text" placeholder="keyword" id="keyword_input">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div id="tweet_carousel" class="carousel slide" data-interval="false">
                <a class="carousel-control-prev" href="#tweet_carousel" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#tweet_carousel" role="button" data-slide="next">
                  <span class="carousel-control-next-icon"></span>
                </a>
                <div class="carousel-inner" id="tweet_carousel_inner">
                  <div class="carousel-item active">
                    <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(35).jpg">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="row">
            <div class="col text-center">
              <span class="text-danger"><i class="fab fa-instagram fa-4x"></i></span>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <button class="btn btn-outline-danger">Get Posts</button>
            </div>
            <div class="col">
              <a data-toggle="collapse" href="#instagram_filter"><span class="text-danger"><i
                    class="fas fa-sliders-h fa-2x"></i></span></a>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="collapse" id="instagram_filter">
                <div>EXAMPLETEXT
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div id="button_div" class="col-4">
            <button type="button" onclick="setStyles2(output)">change Warnings</button>
            <from id="Selection_Severity">
              Minor <input type="checkbox" id="Severity_Minor" checked />
              Moderate <input type="checkbox" id="Severity_Moderate" checked />
              Severe <input type="checkbox" id="Severity_Severe" checked />
              Extreme<input type="checkbox" id="Severity_Extreme" checked />
            </from>
          </div>
        </div>
      </div>
  </main>

  <% include partials/footer.ejs %>

  <script src="leaflet/leaflet.js"></script>
  <script src="turf/turf.min.js"></script>
  <script src="jquery/jquery.min.js"></script>
  <script src="javascripts/jquery-eu-cookie-law-popup.js"></script>
  <script src="popper/umd/popper.min.js"></script>
  <script src="bootstrap/js/bootstrap.min.js"></script>
  <script src="mdbootstrap/js/mdb.min.js"></script>
  <script src="bootstrap-select/js/bootstrap-select.min.js"></script>
  <script src="jsnlog/jsnlog.min.js"></script>
  <script src="leaflet-control-geocoder/Control.Geocoder.min.js"></script>
  <script src="leaflet-draw/leaflet.draw.js"></script>
  <script src="fontawesome/js/all.min.js"></script>
  <script src="leaflet.awesome-markers/leaflet.awesome-markers.min.js"></script>
  <script src="config/twitter-widgets-config.js"></script>
  <script src="javascripts/betterwms.js"></script>
  <script src="javascripts/wfs.js"></script>
  <script src="javascripts/twitter-widgets.js"></script>
  <script src="javascripts/URLparameters.js"></script>
  <script src="javascripts/cookies.js"></script>
  <script src="javascripts/map.js"></script>
  <script src="javascripts/index.js"></script>

</body>

</html>