<!DOCTYPE html>
<html>

<head>

    <title><%= title %></title>

    <meta name="author" content="Lukas, Christin, Constantin, Max" />
    <meta charset="UTF-8">

    <% include partials/stylesheet.ejs %>
</head>

<body onload="map()">

    <% include partials/header.ejs %>

    <% include partials/footer.ejs %>

</body>

</html>