nav {
  height: 15vh;
  font-size: large;
}

#logo {
  height: 10vh;
}

main {
  padding-top: 17vh;
  padding-left: 1vw;
  padding-right: 1vw;
  overflow: auto;
}

#mapdiv {
  height: 76vh;
}

#footer {
  height: 5vh;
}

.footer-elem {
  color: black;
}