#mainnav {
  height: 54px;
  font-size: large;
  padding-top: 5px;
  padding-bottom: 5px;
}

#navbarSupportedContent{
  background-color: white;
}

#logo {
  height: 40px;
  padding-top: 0px;
  padding-bottom: 0px;
}
#logo-div{
  padding-top: 2px;
  padding-bottom: 2px;
}
main {
  padding-top: 56px;
  padding-left: 1vw;
  padding-right: 1vw;
  overflow: auto;
}

#mapdiv {
  height: 76vh;
}

#footer {
  height: 25px;
}

.footer-elem {
  color: black;
}